body {
    min-height: 100dvh;
    display: grid;
    grid-template: auto 1fr 10dvh / 1fr;
}

header#header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    
    padding: 1rem;
}

#main {
    display: grid;
    grid-template: auto 1fr / 1fr;
    gap: 2rem;
}

footer#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}