@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Outfit:wght@100..900&display=swap');

:root {
    /* COLOR */
        /* NEUTRAL */
            --neutral-light: #f5f5f5;
            --neutral-dark-1: #171717;
            --neutral-dark-2: #0a0a0a;
        /* PRIMARY */
            --primary-light: #69bd5c;
            --primary-mid: #457a3c;
            --primary-dark: #324e2d;
        /* SWTICH COLOR MODE */
            --color-mode-bg: var(--neutral-dark-1);
            --color-mode-primary: var(--neutral-light);

    /* PROPERTIES */
        --b-radius: 1rem;

        --ease-in-out: cubic-bezier(.5,0,.5,1);
        --elastic-bezier: cubic-bezier(.75,-0.5,.25,1.5);
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    font-family: inherit;
}

/* UTILITY CLASS */

.head-font {
    font-family: Outfit, sans-serif;
    font-weight: 600;
    line-height: .95em;
    margin-block: .5em;
}

.body-font {
    font-family: Lexend, sans-serif;
    font-weight: 300;
}

.darken-bg {
    background: var(--color-mode-bg);
    color: var(--color-mode-primary);
}

.b-radius {
    border-radius: var(--b-radius);
}

.half-b-radius {
    border-radius: calc(var(--b-radius) / 2);
}

.emphasis {
    font-weight: bold;
    color: var(--primary-light);
}

.none-bord {
    border: none;
    outline: none;
}

.input-text-params {
    height: 1.5rem;
    padding: .1rem .5rem;
}