#newTask {
    background: linear-gradient(135deg, var(--primary-dark), var(--primary-light));

    color: var(--neutral-light);
}

#TaskList {
    background: var(--color-mode-primary);
    color: var(--neutral-dark-2);

    display: flex;
    flex-direction: column;
    gap: .5rem;
}

#TaskDescription {
    width: max-content;

    background: var(--color-mode-primary);

    font-size: inherit;
}

#newTask div {
    display: flex;
    flex-direction: row;
    gap: .25rem 1rem;

    flex-wrap: wrap;
}

#newTask div label {
    font-weight: 500;
    font-size: 1.2em;
}

#newTask input[type="button"],
.pop-up input[type="button"] {
    border: 2px solid var(--neutral-dark-2);
    background: var(--neutral-light);

    font-size: .9rem;
    padding: 0.1rem 0.5rem;
    width: fit-content;
    display: block;

    transition: all 75ms var(--ease-in-out);
}

#newTask input[type="button"]:hover,
.pop-up input[type="button"]:hover {
    background: hsl(from var(--neutral-light) h s 75);
}

#newTask input[type="button"]:active,
.pop-up input[type="button"]:active {
    background: var(--primary-light);
}

#TaskDateInsert {
    border: none;
    background: none;
    color: inherit;

    font-size: inherit;

    outline: none;
}

.backdrop-box {
    position: fixed;
    height: 100dvh;
    width: 100vw;
    backdrop-filter: blur(5px) brightness(.6);
    z-index: 3;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pop-up {
    display: flex;
    flex-direction: column;

    width: min(90vw,300px);
    height: auto;
    padding: 25px;
    font-size: 20px;
}

/* ITEM TAREFA */

.TaskItem {
    background: var(--neutral-dark-1);
    color: var(--neutral-light);

    padding-block: .5rem;
    padding-inline-start: 2rem;
    padding-inline-end: 1rem;

    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.TaskItem div {
    display: inline-flex;
    align-items: center;
}

.TaskItem,
.TaskItem div{
    gap: 1rem;
}

.overdueTask::before {
    content: "!";
    font-family: Outfit;
    font-weight: bold;
    font-size: 1.5rem;

    background: red;

    height: 100%;
    width: 1.5rem;
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    top: 0;
    left: -.1rem;

    border-start-start-radius: var(--b-radius);
    border-bottom-left-radius: var(--b-radius);
}

.overdueTask .dataVal {
    text-decoration: underline red 2px;
}

.TaskItem svg {
    transition: all .5s var(--elastic-bezier);
}

.TaskItem svg:hover {
    rotate: 180deg;
    fill: red;
    scale: 1.25;
}

.taskTitle {
    overflow-wrap: anywhere;
}